
<div class="engineering-wrapper">
    <div class="background"></div>
    <!-- Navigation  ----------------------------------------------------------->
    <nav class="engineering-nav" id="engineering-nav">
        <ul>
            <li class="logo"><a href="#">
            <div class="img-logo">
                <img class="rounded-img" src="../../../assets/img/mugshot.jpg" alt="John Jeckmans" title="Visit TripleCo" />
            </div></a></li>
            <li><a href="/engineering#intro">About</a></li>
            <li><a href="/engineering#experience">Experience</a></li>
        </ul>
    </nav>
    <!-- About ----------------------------------------------------------------->
    <section id="intro">
        <div class="about-content content-padding">
        <h1 class="main-title title"><strong>TripleCo
            <span class="blue">Solutions</span></strong>
        </h1>
        <div class="sub-title title">Twente - Netherlands - EU · <br>
            <a href="mailto:solutions@tripleco.nl?subject=Engineering Solutions" target="_blank" rel="noopener">Click to send Email</a>
        </div>
        <p class="main-text main">"Structural solutions to generate (additional) Engineering Capacity!"</p>
    
        <p class="main-text main">We are part of a business network "Dutch Company Doctors": specialised in change management, proces development, matchmaking, outsourcing, training and co-partnerships in various fieds.
       </p>
        <p class="main-text main">Thanks to our worldwide network and experiences gained over the last decennia, we are able to support you with the structural outsourcing of your engineering activities.</p>
        
        </div>
    </section>
    <!-- Experience  ------------------------------------------------------------>
    <section id="experience">
        <div class="experience-content content-padding">
        <h2 class="section-title title">Experience</h2>
    
        <div class="item-wrapper">
            <article class="item">
            <h3 class="item-title title">ENGINEERING SERVICES</h3>
            <h4 class="item-subtitle title">Outsourcing as well as insourcing?</h4>
            <p class="item-text main">Combination of Engineering Solutions in a Manufacturing Environment</p>
            <p class="item-text main">Cost Effective</p>
            <p class="item-text main">Shorter Product Development Cycle.</p>
            <p class="item-text main">Flexible capacity, multi-shift operation</p>
            <p class="item-text main">Experience with PLM environment</p>
            <p class="item-text main">High security level - Data protection and confidentiality</p>
            </article>

        </div>
        <div class="item-wrapper">
                <article class="item">
                <h3 class="item-title title">ENGINEERING TEAM</h3>
                <p class="item-text main">A talent pool of 50+ qualified Engineers</p>
                <p class="item-text main">Qualifications: post graduate engineer, engineers and diploma engineers with multipleCAD Software skills.</p>
                <p class="item-text main">Software Infrastructure: Pro-E, Inventor, UG NX, Solid Works and AutoCAD with 30 workstations.</p>
                </article>
    
            </div>   
        <div class="item-wrapper">
                <article class="item">
                <h3 class="item-title title">Our Support in the EU</h3>
                <h4 class="item-subtitle title">preparing & assisting your organisation</h4>
                <p class="item-text main"></p>
                <p class="item-text main"></p>
                <p class="item-text main"></p>
                <p class="item-text main">in a very practical, down to earth, hands-on way of working.</p>
                </article>
    
            </div>        
        
        </div>
    </section>
    


</div>